<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

            <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" name="contextForm"
                [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
                <p class="text-lg font-medium">Edició del tiquet</p>
                <p class="text-secondary mb-6">
                    Escriu el nom del client, i amb el botó "+", afegeix linies a la factura.
                </p>

                <!-- Inline Email and Country/Region -->
                <div class="flex flex-col items-start sm:flex-row mb-4">
                    <mat-form-field class=" sm:mr-4 w-1/4">
                        <input matInput placeholder="Client Name" formControlName="customer_name">
                    </mat-form-field>
                    <!-- <mat-form-field class="flex-auto">
                        <input matInput placeholder="VAT ID" formControlName="vatId">
                    </mat-form-field> -->
                </div>
                <div class="not-prose relative bg-slate-50 rounded-xl overflow-hidden dark:bg-slate-800/25">
                    <div
                        class="absolute inset-0 bg-grid-slate-100 [mask-image:linear-gradient(0deg,#fff,rgba(255,255,255,0.6))] dark:bg-grid-slate-700/25 dark:[mask-image:linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.5))]">
                    </div>
                    <div class="relative rounded-xl overflow-auto">

                        <div class="shadow-sm overflow-hidden my-8">


                            <table class='table-auto w-full border-gray-100 '>
                                <thead>
                                    <tr class="contet-left mb-5">
                                        <th
                                            class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
                                            Concept</th>
                                        <th
                                            class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
                                            Quantity</th>
                                        <th
                                            class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
                                            Price</th>
                                        <th
                                            class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
                                            Total</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white dark:bg-slate-800" formArrayName="order_items">

                                    <tr  *ngFor="let item of order_items.controls; let i = index" [formGroupName]="i">

                                        <td class="pt-2">
                                            <mat-form-field class="flex ml-2">
                                                <mat-select placeholder="Concept" formControlName="concept"
                                                    (ngModelChange)="onConceptChange($event, i)">

                                                    <mat-option *ngFor="let concept of concepts" [value]="concept.id">
                                                        {{concept.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </td>
                                        <td class="pt-2">

                                            <mat-form-field class="flex ml-2">
                                                <input matInput formControlName="quantity" (blur)="calculateTotal(i)">
                                            </mat-form-field>

                                        </td>
                                        <td class="pt-2">

                                            <mat-form-field class="flex ml-2 ">
                                                <input class="highlight_input" matInput formControlName="price"
                                                    (blur)="calculateTotal(i)">
                                            </mat-form-field>
                                        </td>
                                        <td class="pt-2">

                                            <mat-form-field class="flex ml-2">
                                                <input matInput formControlName="total_item">
                                            </mat-form-field>
                                        </td>
                                        <td class="pt-2">

                                            <button mat-icon-button color="warn" (click)="removeItem(i)">
                                                <mat-icon>Delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <!-- Add button aligned to the right -->
                <div class="flex justify-end">
                    <button class="ml-auto" mat-fab color="primary" type="button" (click)="addItem()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <div class="flex flex-col items-end">
                    <mat-form-field class="flex-auto gap-6 w-72   sm:mr-4">
                        <input matInput placeholder="Total" formControlName="total_base" class="ml-auto w-10">
                    </mat-form-field>
                </div>

                <div class="flex flex-col">
                    <mat-form-field class="flex ml-2">
                        <mat-select placeholder="Payment Types" formControlName="payment_type_id">

                            <mat-option *ngFor="let payment_type of payment_types" [value]="payment_type.id">
                                {{payment_type.payment_type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="flex flex-col items-end">
                    <button mat-raised-button color="primary" type="submit">Crear factura</button>
                    <button (click)="returnToList()" color="primary" type="submit">Tornar</button>
                </div>
            </form>
        </div>
    </div>

</div>