<div class="absolute inset-0 min-w-0 text-center overflow-auto print:overflow-visible" cdkScrollable>
    <!-- Header -->
    <div
        class=" relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-3 md:py-3 border-b">
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Creació/edició rebut</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Add product button -->


        </div>
    </div>

    <!-- Main -->
    <div class="inline-block p-4 sm:p-4 text-left">

        <!-- CONTENT GOES HERE -->
        <div class="relative h-400 min-h-400 max-h-400  border-gray-300 rounded-2xl">

            <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" name="contextForm"
                [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
                <p class="text-lg font-medium">Edició del tiquet</p>
                <p class="text-secondary mb-6">
                    Escriu el nom del client, i amb el botó "+", afegeix linies a la factura.
                </p>

                <!-- Inline Email and Country/Region -->
                <div class="flex flex-col items-start sm:flex-row mb-1">
                    <mat-form-field class=" sm:mr-4 w-10/12">
                        <mat-label>Client Name</mat-label>

                        <input matInput placeholder="Client Name" formControlName="customer_name">
                    </mat-form-field>
                    <!-- <mat-form-field class="flex-auto">
                        <input matInput placeholder="VAT ID" formControlName="vatId">
                    </mat-form-field> -->
                </div>
                <div class="flex justify-end">
                    <div class="w-1/8">

                        <!-- Add product button -->

                        <button class="ml-10" id='add' mat-raised-button color="primary" (click)="addItem()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon> Add line
                        </button>
                    </div>
                </div>
                <!-- Add button aligned to the right -->

                <div class="p-4 sm:p-4 text-left">

                    <div class="grid grid-cols-12 md:grip-cols-12 gap-x-1 mt-2">
                        <!-- Columns -->
                        <div class="hidden md:block md:col-span-5 col-span-12 font-medium text-md text-secondary">CONCEPTE</div>
                        <div class="hidden md:block md:col-span-2 col-span-6 font-medium text-md md:text-center text-secondary">PREU UNITAT</div>
                        <div class="hidden md:block md:col-span-2 col-span-6 font-medium text-md md:text-center text-secondary">QUANTITAT</div>
                        <div class="hidden md:block md:col-span-2 col-span-12 font-medium text-md md:text-center text-secondary">TOTAL</div>
                        <div class="hidden md:block md:col-span-1 col-span-12 font-medium text-md md:text-center text-secondary">ACTION</div>

                        <!-- Divider -->
                        <div class="col-span-12 my-3 border-b"></div>

                        <!-- Item -->
                        <ng-container formArrayName="order_items">
                            <ng-container *ngFor="let item of order_items.controls; let i = index" [formGroupName]="i">
                                <div class="col-span-12 md:col-span-5 font-medium">
                                    <div class="ml-1 mb-2 md:hidden text-left">
                                        Concepte
                                    </div>
                                    <mat-form-field class="flex ml-2">
                                        <mat-select placeholder="Concept" formControlName="concept"
                                            (ngModelChange)="onConceptChange($event, i)">

                                            <mat-option *ngFor="let concept of concepts" [value]="concept.id">
                                                {{concept.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-6 md:col-span-2 self-center text-right">
                                    <div class="ml-1 mb-2 md:hidden text-left">
                                        Quantity
                                    </div>
                                    <mat-form-field class="flex ml-2">
                                        <input matInput formControlName="quantity" (blur)="calculateTotal(i)">
                                    </mat-form-field>
                                </div>
                                <div class="col-span-6 md:col-span-2 self-center text-right">
                                    <div class="ml-1  mb-2 md:hidden text-left">
                                        Price
                                    </div>
                                    <mat-form-field class="flex ml-2 ">
                                        <input class="highlight_input" matInput formControlName="price"
                                            (blur)="calculateTotal(i)">
                                    </mat-form-field>
                                </div>
                                <div class="col-span-12 md:col-span-2 self-center text-right">
                                    <div class="ml-1 mb-2 md:hidden text-left">
                                        Total
                                    </div>
                                    <mat-form-field class="flex ml-2">
                                        <input matInput formControlName="total_item">
                                    </mat-form-field>
                                </div>
                                <div class="col-span-12 md:col-span-1 self-auto ">
                                    <button mat-icon-button color="warn" (click)="removeItem(i)">
                                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    </button>
                                </div>

                                <!-- Divider -->
                                <div class="col-span-1 md:col-span-12 my-4 border-b"></div>
                            </ng-container>

                        </ng-container>
                        <div class="col-span-11 text-right">
                            <mat-form-field class="">

                                <mat-label>Import total</mat-label>
                                <input matInput placeholder="Total" formControlName="total_base" class="ml-auto">
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <div class="flex flex-col">
                    <mat-form-field class="flex ml-2">
                        <mat-select placeholder="Payment Types" formControlName="payment_type_id">

                            <mat-option *ngFor="let payment_type of payment_types" [value]="payment_type.id">
                                {{payment_type.payment_type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div
                    class=" relative flex flex-col items-ends sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

                    <button mat-raised-button color="primary" (click)="returnToList()">Tornar</button>
                    <button mat-raised-button color="primary" type="submit">Generar rebut</button>
                </div>

            </form>
        </div>
    </div>

</div>